header{
	margin:0 auto !important;
	text-align: center !important;
}

header img{
	margin:20px auto 3px auto !important;
	width: 15%;
	text-align: center !important;
}

body{
	background: #333;
}
.brands{
	margin:0px;
	color: #fff;
	font-size: 22px;
}
.brand-title{
	margin:0px !important;
	font-weight: bold;
	color: #fff;
}
.address-title{
	margin-top: 0px !important;
	font-size: 18px;
	font-weight: normal;
	color: #fff;
}

#box-login{
	margin-top: 50px;
}

#box-login .panel-body{
	background-color: #ccd;
}

#box-login{
	border:0px !important;
}

footer{
	width: 100%;
	text-align: center;
	color: #fff;
	background: #888;
	padding:10px;
}

.navbar-collapse{
	padding-right: 0px !important;
	padding-left: 0px !important;
}

.logout{
	background: #e74c3c;
	border-bottom-right-radius: 4px;
	border-top-right-radius: 4px;
}

.center, .ctr{
	text-align: center !important;
}

.error{
	font-size: 124px !important;
	font-weight: bold;
}

.table tr th{
	vertical-align: middle !important;
}